#sceneCanvas {
  max-width: 80vw;
  max-height: 90vh;
  margin: 2%;
  outline: black 3px solid;
}

#aliveAgents {
  left: 0px;
  top: 0px;
  margin-left: 3%;
  font-size: large;
  position: absolute;
}
